{% load static %}
<!--/*
*Created by Ravindu Priyankara for smartgrader dashboard page 
*2024-04-11
*/-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartGrader Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/contactus.css' %}"><!-- Load CSS file -->  
</head>
<body>
    <li>{% include "dashboard/components/navbar.html"%}</li>
    <!-- Main Content Start -->
    <div class= "container">
        <div class = "box">
            <h1>About Us</h1>
            <br>
            <br>
            <br>
            <p>Welcome to SmartGrader, your automated grading solution for coding assignments! At SmartGrader, we're passionate about simplifying the grading process for educators and learners alike.</p>
            <p>Our platform leverages advanced algorithms to automatically assess coding assignments, providing instant feedback to students and saving valuable time for instructors.</p>
            <p>Whether you're a teacher looking to streamline your grading workflow or a student striving for mastery in coding, SmartGrader is here to support you every step of the way.</p>
            <p>Join us in revolutionizing the way coding assignments are graded and take your educational experience to the next level with SmartGrader!</p>
            <h2>Contact Us</h2>
            <p>If you have any questions, feedback, or need support, please feel free to reach out to us via email at <a href="mailto:h.h.a.r.p.premachandra@gmail.com" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">h.h.a.r.p.premachandra@gmail.com</a>. Our dedicated team is ready to assist you.</p>
            
        
        </div>
    </div>
    
</body>
</html>
