{% load static %}
<!--/*
*Created by Ravindu Priyankara for smartgrader dashboard page 
*2024-04-11
*/-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartGrader Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/contactus.css' %}"><!-- Load CSS file -->  
</head>
<body>
    <li>{% include "dashboard/components/navbar.html"%}</li>
    <!-- Main Content Start -->
    <div class= "container">
        <div class = "box">
            <h1>Contact Us</h1>
            <br>
            <br>
            <br>
            <p>Thank you for your interest in SmartGrader! Whether you have a question, feedback, or need support, we're here to help. Please feel free to reach out to us via email at <a href="mailto:h.h.a.r.p.premachandra@gmail.com" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">h.h.a.r.p.premachandra@gmail.com</a> and we'll get back to you as soon as possible.</p>
            <p>Monday - Friday: 9:00 AM to 6:00 PM (GMT)</p>
            <h2>FAQs</h2>
            <p>Before contacting us, you might find an answer to your question in our Frequently Asked Questions (FAQs) section. <a href="#" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">Click here</a> to visit our FAQs page.</p>
            <ul>
                <li><a href="#" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">Twitter</a></li>
                <li><a href="#" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">Facebook</a></li>
                <li><a href="#" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">LinkedIn</a></li>
            </ul>
            <h2>Partnerships & Collaborations</h2>
            <p>Interested in partnering with SmartGrader or collaborating on a project? Please email us at <a href="mailto:partnerships@smartgrader.com"style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;">partnerships@smartgrader.com</a> and we'll be in touch.</p>
            <h2>Feedback</h2>
            <p>We value your feedback and suggestions. If you have any ideas on how we can improve SmartGrader, please let us know by emailing us at <a href="mailto:feedback@smartgrader.com" style="color: rgb(234, 255, 0);text-shadow: 0 0 2px #151414;"> feedback@smartgrader.com</a>.</p>
        
        </div>
    </div>
    
</body>
</html>
