{% load static %}
<!--/*
*Created by Ravindu Priyankara for smartgrader dashboard page 
*2024-04-11
*/-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartGrader Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/contactus.css' %}"><!-- Load CSS file -->  
</head>
<body>
    <li>{% include "dashboard/components/navbar.html"%}</li>
    <!-- Main Content Start -->
    <div class= "container">
        <div class = "box"></div>
    </div>
    
</body>
</html>
