body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar {
  position: absolute;
  top:10%;
  right:10px;
  max-width: 600px;
  width: 400px;
  height: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ff1100;
}

.calendar .month {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ff03f7;
}

.calendar td:hover {
  background-color: #f60707;
  cursor: pointer;
}

.calendar .today {
  background-color: #39bbef;
}
